@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    margin: 0px;
    height: 100vh;
    background-color: bisque;
}
.container{
    width: 1200px;
    height: 457px;
}
.image__big{
     height: 300px;
     width: 1200px;
     margin-left: 30px;
     border-radius: 20px;
     border: 3px solid wheat;
}
.image__big img{
    border-radius: 20px;
    border: 3px solid wheat;
}

.avt{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 150px;
    border: 4px solid wheat;
}

.avt img{
    border: 5px solid wheat;
    border-radius: 50%;
}

.avt__text{
    color: #000;
    width: 250px;
    height: 80px;
    margin-top: -130px;
    margin-left: 270px;
    font-size: 25px;
}
.avt__text1{
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.612);
}

.avt__right{
    margin-left: 300px;
    display: flex;
    margin: -30px 300px;
    list-style: none;
    padding: 20px 20px;
}
li{
    padding: 30px 30px;
    margin-top: -90px;
    font-size: 35px;
}
i{
    color: rgba(24, 148, 215, 0.879);
}

.wrapper{
    background: white;
    border-radius: 10px;
    width: 800px;
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
}

.title{
    font-size: 22px;
    color: chocolate;
}

.content{
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px 3px;
    border-radius: 5px;
}

.content li{
    background: wheat;
    color: white;
    border-radius: 3px;
    list-style: none;
    margin: 0 3px;
    padding: 10px;
}
.content li i{
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.content input{
    border: none;
    outline: none;
    font-size: 20px;
    margin: 10px;
    flex: 1;
}

.remove-all{
    background: wheat;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5 ease-in;
}

.remove-all:hover {
    background: #7cac49;
}

.content-item{
    width: 1200px;
    height: 1800px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(251, 220, 162);
    color: white;
}

span{
    background-image: linear-gradient(90deg, rgb(218, 230, 1) 0%, rgb(218, 230, 1) 7%,rgb(226, 203, 7) 7%, rgb(226, 203, 7) 14%,rgb(234, 176, 13) 14%, rgb(234, 176, 13) 21%,rgb(242, 148, 18) 21%, rgb(242, 148, 18) 28%,rgb(250, 121, 24) 28%, rgb(250, 121, 24) 100%);
    background-size:  100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 10%;
    background-size: 100% 18%;
    font-size:35px;
    margin: 20px 30px;
    border-radius: 10px;
}

.content-text{
    margin: 20px;
    font-size: 18px;
    color: #000;
}

.content-text a{
    color: brown;
}

.content-text p{
    padding: 10px 10px;
}
.content__below{
    margin: 20px;
    margin-top: -1480px;
    font-size: 18px;
    color: white;
}
.interests i{
    color: black;
}
.interests{
    background: rgb(255,116,243);
background: linear-gradient(90deg, rgba(255,116,243,0.5079073865874475) 40%, rgba(118,182,247,0.4322771344866071) 61%);
    width: 160px;
    margin: 10px 20px ;
    font-size: 22px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interests__below{
    font-size: 18px;
    margin: 20px;
    color: black;
}

.interests__2{
    background: rgb(255,116,243);
    background: linear-gradient(90deg, rgba(255,116,243,0.5079073865874475) 40%, rgba(118,182,247,0.4322771344866071) 61%);
    font-size: 22px;
    margin: 20px;
    width: 160px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interests__2 i{
    color: black;
    font-size: 22px;
}

.interests__text{
    color: black;
    font-size: 18px;
    margin: 20px;
}

.learning{
    color: white;
    margin-top: 700px;
    margin: 20px;
}

.learning__up i{
    margin: 20px;
    color: black;
    font-size: 22px;
}

.learning__up p {
    color: black;
    font-size: 22px;
}

.learning__on li{
    font-size: 30px;
    margin: 40px;
    color: black;
    padding: 10px 10px;
}

.success__lp p{
    margin: 40px;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px 10px;
}
.success__lp i{
     padding: 10px 10px;
 }

 .success__lp li{
     font-size: 25px;
     margin: 60px;
     padding: 10px 10px;
}
video{
    margin-left: 700px;
    margin-top: -1900px;
}
